@model stellarCinema.Models.BookingViewModel

@{

	ViewData["Title"] = "Rezerwacja";

	var totalSeats = Model.TotalSeats;
	var hallId = Model.IdHall;
	var seatsPerRow = 10;
	var rowLabels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
	var totalRows = totalSeats / seatsPerRow;
}

<div class="bookInformations">

	<div class="bookContainer">
		<h2>Wybierz miejsca na film '@Model.Showtime.Movie.Title'</h2>
		<span class="screen">Ekran</span>
		<div class="seatsContainer">
			<input type="hidden" id="hallNumber" value="@hallId"/>
			@for (int row = 0; row < totalRows; row++)
			{
				<div class="seat-row">
					<strong>@rowLabels[row]</strong>
					@for (int seat = 1; seat <= seatsPerRow; seat++)
					{
						int seatNumber = row * seatsPerRow + seat;
						if (seatNumber > totalSeats) break;
						<label class="seatLabel">
							<input type="checkbox" name="selectedSeats" value="@seatNumber" class="seat-checkbox" />
							<span class="seat">@rowLabels[row]@seat</span>
						</label>
					}
				</div>
			}
		</div>
	</div>

	<div class="receipt">
		<form asp-action="Book" method="post">
			<h2>Podsumowanie rezerwacji</h2>
			<p>Film: @Model.Showtime.Movie.Title</p>
			<p>Data: @Model.Showtime.ShowtimeDateStart.ToString("dd MMM yyyy HH:mm")</p>
			<p>Miejsca: <span id="selectedSeats"></span></p>
			<p>Cena: <span id="totalPrice"></span> </p>
			<input type="hidden" id="hiddenPrice" asp-for="TotalPrice" />
			<input type="email" required asp-for="Email" placeholder="Adres e-mail" />
			<input type="hidden" asp-for="IdShowtime" value="@Model.Showtime.IdShowtime" />

			<button type="submit">Zarezerwuj</button>
		</form>
	</div>
	
</div>



