@model stellarCinema.Models.BookingViewModel

@{



	ViewData["Title"] = "Rezerwacja";

	var totalSeats = Model.TotalSeats;
	var hallId = Model.IdHall;
	var seatsPerRow = 10;
	var rowLabels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
	var totalRows = (int)Math.Ceiling((double)totalSeats / seatsPerRow);
	var seatStart = 1;
}

<h1>@Model.Showtime.Movie.Title</h1>
<div class="bookInformations">
	<div class="bookContainer">
		<h3>Wybierz miejsca</h3>
		<span class="screen">Ekran</span>
		<div class="seatsContainer">
			<input type="hidden" id="hallNumber" value="@hallId" />
			<input type="hidden" id="showtimeId" value="@Model.Showtime.IdShowtime" />

			@for (int row = 0; row < totalRows; row++)
			{
				<div class="seat-row @(row == totalRows - 1 && totalSeats % seatsPerRow != 0 ? "center" : "")">
					<strong>@rowLabels[row]</strong>
					@for (int seat = 1; seat <= seatsPerRow; seat++)

					{

						int seatNumber = row * seatsPerRow + seat;

						if (seatNumber > totalSeats) break;

						<label class="seatLabel">
							<input type="checkbox" name="selectedSeats" value="@seatStart" class="seat-checkbox" />

							<span class="seat">@rowLabels[row]@seat</span>

						</label>
						seatStart++;
					}
				</div>
			}
		</div>
	</div>

	<div class="receipt">
		<form asp-action="Book" method="post">
			<h3>Podsumowanie rezerwacji</h3>
			<p>Data: @Model.Showtime.ShowtimeDateStart.ToString("dd MMM yyyy HH:mm")</p>
			<p>Miejsca: <span id="selectedSeats"></span></p>
			<p>Cena: <span id="totalPrice"></span> </p>
			<p>

				<input type="hidden" id="hiddenPrice" asp-for="TotalPrice" />
				<input type="email" required asp-for="Email" placeholder="Adres e-mail" />
				<input type="hidden" asp-for="IdShowtime" value="@Model.Showtime.IdShowtime" />

				<input type="hidden" asp-for="SeatsList" id="seatsList" />
			</p>
			<p class="center">
				<button class="button-primary" type="submit" id="submitButton">Zarezerwuj</button>
			</p>
		</form>
	</div>

</div>



