@model stellarCinema.Models.BookingViewModel

@{
	ViewData["Title"] = "Płatność";
}

<div class="paymentSummary">

	@* <div class="summary">
		<h2>Podsumowanie rezerwacji</h2>
		<input type="email" asp-for="Email" />
		<input type="date" asp-for="ReservationDate" />
		<p>Film: @Model.Showtime.Movie.Title</p>
		<p>Cena:</p>
	</div> *@

	<div class="payment">

		<h3>Wybierz metodę płatności</h3>

		<button id="showBlik">Zapłać BLIK</button>
		<button id="showPaypal">Zapłać PayPal</button>


		<div id="blikDialog" class="dialog" style="display:none">
			<h2>Płacę z <img style="width:60px;" src="/pictures/Blik_logo.jpg" /></h2>
			<h3>Podaj 6 cyfrowy kod</h3>
			<form asp-action="ConfirmBooking" method="post">
				<input type="number" placeholder="kod blik" />
				<input type="hidden" asp-for="IdReservation" value="@Model.Reservation.IdReservation" />
				<input type="hidden" asp-for="Email" value="@Model.Reservation.Email" />
				<input type="hidden" asp-for="IdShowtime" value="@Model.Reservation.IdShowtime" />
				<input type="hidden" asp-for="Reservation.ReservationDate" value="@Model.Reservation.ReservationDate" />
				<input type="hidden" asp-for="TotalPrice" value="@Model.TotalPrice" />
				<button type="submit">Zapłać</button>

			</form>
			<button onclick="closeDialog('blikDialog')">Anuluj</button>
		</div>

		<div id="paypalDialog" class="dialog" style="display:none">
			<h2>Płacę z <img style="width:60px;" src="/pictures/Paypal_logo.png" /></h2>
			<h3>Zaloguj się do swojego konta</h3>
			<input type="email" placeholder="Wpisz swój email" />
			<a asp-action="ConfirmBooking" asp-asp-controller="Reservations" asp-route-idReservation="@Model.IdReservation"  class="more">Zapłać</a>
			<button onclick="closeDialog('paypalDialog')">Anuluj</button>
		</div>

	</div>
</div>
<script>

	document.getElementById("showBlik").addEventListener("click", function() {
		document.getElementById("blikDialog").style.display = "block";
		document.getElementById("paypalDialog").style.display = "none";
	});

	document.getElementById("showPaypal").addEventListener("click", function() {
		document.getElementById("paypalDialog").style.display = "block";
		document.getElementById("blikDialog").style.display = "none";

	});

	function closeDialog(dialogId) {
		document.getElementById(dialogId).style.display = "none";
	}
</script>
