@model stellarCinema.Entities.Movie

@{
    ViewData["Title"] = "Details";
}

<section class="movie-details-container">
    <h1 class="text-center mb-4">@Model.Title</h1>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="poster-container">
                <img src="@Model.PosterUrl" alt="@Model.Title" class="img-fluid rounded shadow-lg" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="movie-details">
                <h4>Opis:</h4>
                <p>@Model.Description</p>
                <h4>Szczegóły:</h4>
                <ul class="list-unstyled">
                    <li><strong>Czas trwania:</strong> @Model.Duration </li>
                    <li><strong>Gatunek:</strong> @Model.Genre</li>
                    <li><strong>Data premiery:</strong> @Model.ReleaseDate.ToShortDateString()</li>
                </ul>
                <div class="buttons mt-4">
                    <a href="@Model.MovieLink" class="buy" target="_blank">Zobacz na stronie</a>
                    <a asp-action="Index" class="more">Wróć do strony głównej</a>
                </div>
            </div>
        </div>
    </div>
</section>
