@model IEnumerable<stellarCinema.Entities.Movie>

<h1>Filmy</h1>

<div class="movies">
    @foreach (var movie in Model)
    {
        <div class="movie">
            <img class="imgRepertoire" src="@movie.PosterUrl" /><br />
            @movie.Title<br>
            @if (movie.Duration != TimeSpan.Zero)
            {
                @movie.Duration.TotalMinutes @(" min | ")
           }
            @movie.Genre<br>
        </div>
    }
</div>
